* {
    font-family: 'Roboto';
}

.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.header {
    background-color: #1F2937;
    padding: 10px 200px;
    padding-bottom: 100px;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header h1 {
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 48px;
    align-self: flex-start;
    margin-bottom: 1px;
    padding-top: 0px;
    margin-top: 5px;
}

.header a, .header p, button, .text {
    font-size: 18px;
    font-weight: normal;
    color:#E5E7EB;
    margin:8px;
    margin-top: 1px;
}

.header p {
    align-self: flex-start;
    margin-left: 1px;
}

.header .content {

    flex: 1;
}

.page-top {
    display: flex;
    height: 24px;
    margin-bottom: 80px;
    justify-content: space-between;
}

.header-mid {
    display: flex;
    justify-content: space-between;
}

.future-image {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    align-items: center;
    background-color: gray;

}

button {
    background-color: #3882F6;
    border-collapse: separate; 
    border-radius: 6px;
    border: hidden;
    text-align: center;
    font-weight: bold;
    width: 100px;
    margin-left: 1px;
    padding: 5px;
    height: auto;

}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.information h1 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.text, .illustrations {
    height: 159px;
    width: 159px;
    margin: 28px;
    margin-top: 2px;
}

.text {
    color: black;
}


.illustrations {
    height: 159px;
    width: 159px;
    margin: 22px;
    margin-bottom: 10px;
    border: 4px solid #3882F6;
    border-collapse: separate; 
    border-radius: 20px;
}

.phrase {
    padding: 100px 550px;
}

.phrase, #motivation {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    font-weight: light;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

#motivation {
    margin-bottom: 10px;
}

#author {
    font-style: normal;
    font-weight: bold;
    text-align: end;
    margin-top: 0px;
}

.actioncall {
    background-color: #3882F6;
    margin: 100px 400px;
    border: 4px solid #3882F6;
    border-collapse: separate; 
    border-radius: 12px;
    padding: 20px 100px;
    display: flex;
    color:#F9FAF8;
    flex-direction: row;
}
.actioncall div {
    flex: 0.75;
    height: 100px;
}

.actioncall h1 {
    margin-bottom: 0px;
    margin-right: 5px;
}

.actioncall p {
    margin-top: 0px;
    margin-right: 0px;
}

#signup {
    flex: 0.2;
    text-align: center;
    margin-left: 5px;
    border: 2px solid #F9FAF8;
    padding: 0px;
    height: 40px;
    align-self: center;
}

#copyright {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
    padding: 25px;
}